<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}"/>
  </head>
  <body>
  	<!--底部返回顶层按钮-->
  		<div class="returntop">
  		<a class="btn btn-default" href="#" role="button" style="position:fixed;right:1%;bottom:2% ;background-color: #49B1F5;color: white;border: none;">
			Top
			</a>
  	</div>
  	<!--导航部分-->
	<div th:replace="_fragments::nav"></div>
		<!--首页全屏图-->
		<div class="container-fluid timeimg">
			<h1>时间轴</h1>
		</div>
		<!--文章列表-->
		<div class="container">
			<div class="timelf col-lg-8 col-xl-12">
				<ul class="col-lg-10 col-xl-12" th:each="item : ${archiveMap}">
					<h1 th:text="${item.key}">2020</h1>
					<li class="" th:each="blog : ${item.value}">
						<div class="yuan">  </div>
						<img src="../static/img/7.jpg" th:src="@{${blog.fistPicture}}" class="col-lg-5 col-xs-5"/>
						<div class="col-lg-7 col-xs-7">
							<p th:text="${blog.updateTime}"> 2020-09-09</p>
							<a href=""th:href="@{/blog/{id}(id=${blog.id})}"  th:text="${blog.title}"><h2>示例标题</h2></a>
						</div>
					</li>
					

				</ul>
			</div>
			
			<div class="indexrt col-lg-4 col-xl-12 visible-lg-block visible-md-block">
				<div class="col-lg-12 col-md-12 aboutme visible-lg-block visible-md-block">
					<img src="/img/touxiang.png" th:src="@{https://img-blog.csdnimg.cn/20200418120803993.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2xpamlheGluZ2xpOA==,size_16,color_FFFFFF,t_70}"/>
					<p>人生到处知何似</p>
					<p>应似飞鸿踏雪泥</p>
				</div>
				<!--<div class="col-lg-12 col-md-12 hot visible-lg-block visible-md-block">
					<h2>分类</h2>
					<ul>
						<li><a href="">Java</a></li>
						<li><a href="">JavaScript</a></li>
						<li><a href="">Php</a></li>
						<li><a href="">Web</a></li>
					</ul>
				</div>-->
				<div class="col-lg-12 col-md-12 web visible-lg-block visible-md-block">
					<h3>网站详情</h3>
					<div class="webleft">
						<p>文章数目：</p>
						<p>今日访问：</p>
						<p>总访问量：</p>
						<p>运行时间：</p>
					</div>
					<div class="webright">
						<p th:text="${blogCount}">0</p>
						<p>0</p>
						<p th:each=" view : ${views}"><span th:text="${view.views}"></span></p>
						<p>
							<span class="js">0</span>天
							<span class="js">0</span>时
							<span class="js">0</span>分
							<span class="js">0</span>秒
						</p>
					</div>
				</div>
			</div>
		</div>
		<!--页脚部分-->
		<footer class="container-fluid">
			<div class="container">
				<p style="color: #777777;">©2020 By CoolDing</p>
				<p style="color: #777777;"> CoolDing 豫IPC备 668866号</p>
			</div>
		</footer>
    <script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <script>
			function scroll() {
				var top = $(".timelf").offset().top;//获取导航栏变色的位置距顶部的高度
				var scrollTop = $(window).scrollTop();//获取当前窗口距顶部的高度
				if (scrollTop < top) {
					$('.allnav').css('background-color', 'rgba(0,0,0,0)');
				} else {
					$('.allnav').css('background-color', 'rgba(0,0,0,0.6)');
				}
			}
			$(window).on('scroll', function() {
				scroll()
			});
			/*计时器*/
			var js=document.getElementsByClassName('js');
			var jsq=function jsq(){
				//获取开通时间
				var nowt=new Date('2020/04/18 00:00:00');
				var newt=new Date();//本机计算机的时间
				var times=newt-nowt;//两个时间点的时差(毫秒)
				var day=Math.floor(times/(86400000))
				times=times%(86400000);
				//求小时差
				var hours=Math.floor(times/(3600000))
				times=times%(3600000);//取模，不足一小时的赋值给时间戳
				//求分钟差
				var min=Math.floor(times/(60000))
				times=times%(60000);//取模，不足一小时的赋值给时间戳
				//求秒差
				var second=Math.floor(times/(1000))
				times=times%(1000);//取模，不足一小时的赋值给时间戳
				//计时器数据赋值给dom
				js[0].innerHTML=day;
				js[1].innerHTML=hours;
				js[2].innerHTML=min;
				js[3].innerHTML=second;
			}
			jsq();//定时器未启动时先执行一次
			setInterval(jsq,1000);
		</script>
  </body>
</html>